<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novels Library</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <main class="main">
    <h1>404 Error!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eos vel quidem saepe deserunt cum repudiandae sequi illum aut pariatur!</p>
    <p>Go Back to <a href="/">Home Page</a></p>

  </main>
</body>
</html>
