{% extends 'master.html' %}

{% block title %} All Novels {% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome Again. This is the list of all our books in the library</h1>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Date of Publish</th>
      <th>Edition</th>
    </tr>
    {% for novel in novels %}
    <tr>
      <td>{{ novel.id }}</td>
      <td>{{novel.title}}</td>
      <td>{{novel.author}}</td>
      <td>{{novel.genre}}</td>
      <td>{{novel.published_date}}</td>
      <td>{{novel.edition}}</td>
    </tr>
    {% endfor %}
  </table>
  <p>See the <a href="{% url 'novel_list' %}">Novels List</a></p>
</div>
{% endblock content %}