{% extends 'master.html' %}
{% block title %} Novels List {% endblock %}



{% block content %}
<section class="novels-list">
  <h1>Available novels in Shelves</h1>
  <div class="novelist">
    <div class="list">
      <ul>
        {% for novel in novels %}
        <li><a href="{% url 'librarystore:novel_detail' novel.id %}">{{novel.title}}</a> by {{novel.author}} {{novel.edition}}Edition
        </li>
        {% endfor %}
      </ul>
      <p>Got to All Novel details ad description <a href="{% url 'librarystore:all_detail' %}">Novel details.</a></p>
    </div>
    
  </section>
</section>

{% endblock content %}